  <!-- Navbar Transparent -->
  <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container">
      <a class="navbar-brand  text-white " href="/" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
        Home - Climate Change Resource Toolkit
      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
        <ul class="navbar-nav navbar-nav-hover ms-auto">

          {% if current_user.is_authenticated %}

            <li class="nav-item dropdown dropdown-hover mx-2 ms-lg-6">
              <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center" id="dropdownMenuPages8" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
                Resources
                <img src="/static/assets/img/down-arrow-white.svg" alt="down-arrow" class="arrow ms-2 d-lg-block d-none">
                <img src="/static/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-2 d-lg-none d-block">
              </a>
              <div class="dropdown-menu dropdown-menu-animation ms-n3 dropdown-md p-3 border-radius-lg mt-0 mt-lg-3" aria-labelledby="dropdownMenuPages8">
                <div class="d-none d-lg-block">
                  <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
                    Climate Change Research Topics
                  </h6>
                  <a href="/climate-change-info.html" class="dropdown-item border-radius-md">
                    <span>Climate Change Information</span>
                  </a>
                  <a href="/global-aviation-impact.html" class="dropdown-item border-radius-md">
                    <span>Global Aviation Impact</span>
                  </a>
                  <a href="/climate-economics.html" class="dropdown-item border-radius-md">
                    <span>Climate Economics</span>
                  </a>
                  <a href="/alternatives-to-traditional-aviation.html" class="dropdown-item border-radius-md">
                    <span>Alternatives to Traditional Aviation & Fueling</span>
                  </a>
                  <a href="/faa-guidance.html" class="dropdown-item border-radius-md">
                    <span>FAA Guidance</span>
                  </a>
                  <a href="/airport-sustainability.html" class="dropdown-item border-radius-md">
                    <span>Airport Sustainability and Progress</span>
                  </a>
                  </a>
                  <a href="/carbon-information.html" class="dropdown-item border-radius-md">
                    <span>Carbon Information</span>
                  </a>
                  <a href="/policy-surveys-opposition.html" class="dropdown-item border-radius-md">
                    <span>Policy, Surveys, and Opposition</span>
                  </a>
                  <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1 mt-3">
                    Research Further
                  </h6>
                  <a href="/search.html" class="dropdown-item border-radius-md">
                    <span>Search</span>
                  </a>
                </div>
                <div class="d-lg-none">
                  <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1">
                    Climate Change Topics
                  </h6>
                  <a href="/climate-change-info.html" class="dropdown-item border-radius-md">
                    <span>Climate Change Information</span>
                  </a>
                  <a href="/global-aviation-impact.html" class="dropdown-item border-radius-md">
                    <span>Global Aviation Impact</span>
                  </a>
                  <a href="/climate-economics.html" class="dropdown-item border-radius-md">
                    <span>Climate Economics</span>
                  </a>
                  <a href="/alternatives-to-traditional-aviation.html" class="dropdown-item border-radius-md">
                    <span>Alternatives to Traditional Aviation & Fueling</span>
                  </a>
                  <a href="/faa-guidance.html" class="dropdown-item border-radius-md">
                    <span>FAA Guidance</span>
                  </a>
                  <a href="/airport-sustainability.html" class="dropdown-item border-radius-md">
                    <span>Airport Sustainability and Progress</span>
                  <a>
                  </a>
                  <a href="/carbon-information.html" class="dropdown-item border-radius-md">
                    <span>Carbon Information</span>
                  </a>
                  <a href="/policy-surveys-opposition.html" class="dropdown-item border-radius-md">
                    <span>Policy, Surveys, and Opposition</span>
                  </a>
                  <h6 class="dropdown-header text-dark font-weight-bolder d-flex align-items-center px-1 mt-3">
                    Account
                  </h6>
                  <a href="/search.html" class="dropdown-item border-radius-md"> <!-- change this!! -->
                    <span>Search</span>
                  </a>
                </div>
              </div>
            </li>

          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->