{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

{% block body_class %} login-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="page-header header-filter" style="background-image: url('/static/assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            
            <form class="form" method="post" action="">

              {{ form.hidden_tag() }}

              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Register</h4>                
              </div>

              <br />

              <p class="description text-center">
                  {% if msg %}
                      {{ msg | safe }}
                  {% else %}
                      Add your credentials
                  {% endif %}               
              </p>
              <div class="card-body">

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  {{ form.username(class="form-control") }}
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  {{ form.email(class="form-control") }}
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  {{ form.password(class="form-control", type="password") }}
                </div>

                <br />

                <div class="text-center">
                  <button type="submit" name="register" class="btn btn-primary">Sign in</button>
                </div>

              </div>

              <div class="footer text-center">
                <span class="text-muted">have an account? <a class="text-danger" href="{{ url_for('login') }}" >Login</a> </span>  
                <br />
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>
        
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
