<!--
=========================================================
* Material Kit 2 - v3.0.0
=========================================================

* Product Page:  https://www.creative-tim.com/product/material-kit 
* Copyright 2021 Creative Tim (https://www.creative-tim.com)
* Coded by www.creative-tim.com

 =========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/static/assets/img/favicon.png">

  <title>
    Climate Change Resources for Airports
  </title>

  <!-- Fonts and icons -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/static/assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/static/assets/css/material-kit.css?v=3.0.0" rel="stylesheet" />

</head>
<body class="presentation-page bg-gray-200">

  {% include 'includes/navigation-transparent.html' %}

  <header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image: url('/static/assets/img/sustain_airp.jpeg')">
      <span class="mask bg-gradient-dark opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-7 text-center mx-auto">
            <h1 class="text-white pt-3 mt-n5">Climate Change Resources for Airports</h1>
            <p class="lead text-white mt-3">Search through these resources from reputable sources to find the latest information on Climate Change and what other airports are doing about it.</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <section class="my-5 py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
            <div class="rotating-card-container">
              <div class="card card-rotate card-background shadow-dark mt-md-0 mt-5">
                <div class="front front-background" style="background-image: url('/static/assets/img/forest_earth2.png'); background-size: cover; background-position: center;">
                  <div class="card-body py-7 text-center">
                    <i class="material-icons text-white text-4xl my-3">touch_app</i>
                    <h3 class="text-white">Climate Change <br /> Information</h3>
                    <p class="text-white opacity-10">Climate Change impacts everybody, including the aviation sector.</p>
                  </div>
                </div>
                <div class="back back-background" style="background-image: url('/static/assets/img/forest_earth2.png'); background-size: cover; background-position: center;">
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white">More Information</h3>
                    <p class="text-white opacity-10"> Click below to be taken to a list of resources pertaining to Climate Change.</p>
                    <a href="/climate-change-info.html" class="btn btn-white btn-sm w-50 mx-auto mt-3">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
            <div class="rotating-card-container">
              <div class="card card-rotate card-background shadow-dark mt-md-0 mt-5">
                <div class="front front-background" style="background-image: url('/static/assets/img/airplane_in_sky.jpeg'); background-size: cover; background-position: center;">
                  <div class="card-body py-7 text-center">
                    <i class="material-icons text-white text-4xl my-3">touch_app</i>
                    <h3 class="text-white">Global Aviation <br /> Impact</h3>
                    <p class="text-white opacity-10">The science of aviation and how climate change is shaping its future.</p>
                  </div>
                </div>
                <div class="back back-background" style="background-image: url('/static/assets/img/airplane_in_sky.jpeg'); background-size: cover; background-position: center;">
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white">More Information</h3>
                    <p class="text-white opacity-10"> Click below to be taken to a list of resources pertaining to Global Aviaion Impact.</p>
                    <a href="/global-aviation-impact.html" class="btn btn-white btn-sm w-50 mx-auto mt-3">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
            <div class="rotating-card-container">
              <div class="card card-rotate card-background shadow-dark mt-md-0 mt-5">
                <div class="front front-background" style="background-image: url('/static/assets/img/tree_coins2.png'); background-size: cover; background-position: center;">
                  <div class="card-body py-7 text-center">
                    <i class="material-icons text-white text-4xl my-3">touch_app</i>
                    <h3 class="text-white">Climate<br />Economics</h3>
                    <p class="text-white opacity-10">The effects and costs that Chimate Change has on the aviation industry.</p>
                  </div>
                </div>
                <div class="back back-background" style="background-image: url('/static/assets/img/tree_coins2.png'); background-size: cover; background-position: center;">
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white">More Information</h3>
                    <p class="text-white opacity-10"> Click below to be taken to a list of resources pertaining to Climate Economics.</p>
                    <a href="/climate-economics.html" class="btn btn-white btn-sm w-50 mx-auto mt-3">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
            <div class="rotating-card-container">
              <div class="card card-rotate card-background shadow-dark mt-md-0 mt-5">
                <div class="front front-background" style="background-image: url('/static/assets/img/biofuel_aircraft.jpeg'); background-size: cover; background-position: center;">
                  <div class="card-body py-7 text-center">
                    <i class="material-icons text-white text-4xl my-3">touch_app</i>
                    <h3 class="text-white">Alternatives to Traditional<br />Aviation & Fueling</h3>
                    <p class="text-white opacity-10">Biofuels, clean energy, electric aircrafts- Climate Change bringing new innovation to aviation.</p>
                  </div>
                </div>
                <div class="back back-background" style="background-image: url('/static/assets/img/biofuel_aircraft.jpeg'); background-size: cover; background-position: center;">
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white">More Information</h3>
                    <p class="text-white opacity-10"> Click below to be taken to a list of resources pertaining to alternatives to tradiation aviation and fueling.</p>
                    <a href="/alternatives-to-traditional-aviation.html" class="btn btn-white btn-sm w-50 mx-auto mt-3">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
            <div class="rotating-card-container">
              <div class="card card-rotate card-background shadow-dark mt-md-0 mt-5">
                <div class="front front-background" style="background-image: url('/static/assets/img/green_airport2.png'); background-size: cover; background-position: center;">
                  <div class="card-body py-7 text-center">
                    <i class="material-icons text-white text-4xl my-3">touch_app</i>
                    <h3 class="text-white">Airport <br /> Sustainability<br />and Progress</h3>
                    <p class="text-white opacity-10">What airports are doing now and what they can be doing to help combat Climate Change.</p>
                  </div>
                </div>
                <div class="back back-background" style="background-image: url('/static/assets/img/green_airport2.png'); background-size: cover;">
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white">More Information</h3>
                    <p class="text-white opacity-10"> Click below to be taken to a list of resources pertaining to airport sustainability and progress.</p>
                    <a href="/airport-sustainability.html" class="btn btn-white btn-sm w-50 mx-auto mt-3">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
            <div class="rotating-card-container">
              <div class="card card-rotate card-background shadow-dark mt-md-0 mt-5">
                <div class="front front-background" style="background-image: url('/static/assets/img/net_zero2.png'); background-size: cover; background-position: center;">
                  <div class="card-body py-7 text-center">
                    <i class="material-icons text-white text-4xl my-3">touch_app</i>
                    <h3 class="text-white">FAA Guidance<br /> and Programs</h3>
                    <p class="text-white opacity-10">The Federal Aviation Administration plays an important role in the aviation sector's actions regarding Climate Change.</p>
                  </div>
                </div>
                <div class="back back-background" style="background-image: url('/static/assets/img/net_zero2.png'); background-size: cover; background-position: center;">
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white">More Information</h3>
                    <p class="text-white opacity-10"> Click below to be taken to a list of resources pertaining to FAA guidance and regulations.</p>
                    <a href="/faa-guidance.html" class="btn btn-white btn-sm w-50 mx-auto mt-3">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
            <div class="rotating-card-container">
              <div class="card card-rotate card-background shadow-dark mt-md-0 mt-5">
                <div class="front front-background" style="background-image: url('/static/assets/img/carbon_emissions.jpeg'); background-size: cover; background-position: center;">
                  <div class="card-body py-7 text-center">
                    <i class="material-icons text-white text-4xl my-3">touch_app</i>
                    <h3 class="text-white">Carbon<br />Information</h3>
                    <p class="text-white opacity-10">Carbon and carbon offsetting play an integral role in the future of Climate Change.</p>
                  </div>
                </div>
                <div class="back back-background" style="background-image: url('/static/assets/img/carbon_emissions.jpeg'); background-size: cover; background-position: center;">
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white">More Information</h3>
                    <p class="text-white opacity-10"> Click below to be taken to a list of resources pertaining to Carbon.</p>
                    <a href="/carbon-information.html" class="btn btn-white btn-sm w-50 mx-auto mt-3">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
            <div class="rotating-card-container">
              <div class="card card-rotate card-background shadow-dark mt-md-0 mt-5">
                <div class="front front-background" style="background-image: url('/static/assets/img/grass_scale2.png'); background-size: cover; background-position: center;">
                  <div class="card-body py-7 text-center">
                    <i class="material-icons text-white text-4xl my-3">touch_app</i>
                    <h3 class="text-white">Policy, Surveys,<br />and Oppostion</h3>
                    <p class="text-white opacity-10">What you need to know regarding changing Climate Change policy, current surveys, and airport opposers.</p>
                  </div>
                </div>
                <div class="back back-background" style="background-image: url('/static/assets/img/grass_scale2.png'); background-size: cover; background-position: center;">
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white">More Information</h3>
                    <p class="text-white opacity-10"> Click below to be taken to a list of resources pertaining to policy, surveys, and opposition.</p>
                    <a href="/policy-surveys-opposition.html" class="btn btn-white btn-sm w-50 mx-auto mt-3">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<!---  <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-3 mb-4 ms-auto">
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              &copy; <a href="https://gra-inc.com/" target="_blank">GRA, Incorporated</a> - Coded By Melina Foust
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer> -->

  <!--   Core JS Files   -->
  <script src="/static/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="/static/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="/static/assets/js/plugins/perfect-scrollbar.min.js"></script>
  <!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
  <script src="/static/assets/js/plugins/countup.min.js"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
  <script src="/static/assets/js/plugins/rellax.min.js"></script>
  <!--  Plugin for TiltJS, full documentation here: https://gijsroge.github.io/tilt.js/ -->
  <script src="/static/assets/js/plugins/tilt.min.js"></script>
  <!--  Plugin for Selectpicker - ChoicesJS, full documentation here: https://github.com/jshjohnson/Choices -->
  <script src="/static/assets/js/plugins/choices.min.js"></script>
  <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
  <script src="/static/assets/js/plugins/parallax.min.js"></script>
  <!-- Control Center for Material UI Kit: parallax effects, scripts for the example pages etc -->
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="/static/assets/js/material-kit.min.js?v=3.0.0" type="text/javascript"></script>
  <script type="text/javascript">
    if (document.getElementById('state1')) {
      const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
      if (!countUp.error) {
        countUp.start();
      } else {
        console.error(countUp.error);
      }
    }
    if (document.getElementById('state2')) {
      const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }
    }
    if (document.getElementById('state3')) {
      const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      };
    }
  </script>
</body>

</html>