
  <footer class="footer footer-default">
    <div class="container">
      <nav class="float-left">
        <ul>

          <li>
            <a href="{{ data.github }}">
              Flask Material Sources
            </a>
          </li>

          <li>
            <a href="{{ data.product }}">
              Flask Material Info
            </a>
          </li>

        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script> AppSeed <a href="https://appseed.us/app-generator">App Generator</a> - Designed by <a href="https://www.creative-tim.com">Creative Tim</a>
      </div>
    </div>
  </footer>
