
  <footer class="footer" data-background-color="black">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a target="_blank" href="https://bit.ly/3fKQZaL">
              Creative Tim
            </a>
          </li>
          <li>
            <a target="_blank" href="https://appseed.us">
              AppSeed
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy; Creative-Tim - coded by AppSeed.
      </div>
    </div>
  </footer>

