
    <footer class="footer">
        <div class="container">
              <nav class="float-left">
                <ul>
                  <li>
                    <a href="https://appseed.us/apps/flask-apps/flask-material-kit">
                      Flask Material Kit
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="copyright float-right">
                &copy;
                <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> - Coded by AppSeed.
              </div>
        </div>
    </footer>
