
  <!-- Navbar -->
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
  
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/">
          Flask Material Kit </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="/login.html">
              Login
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/profile.html">
              Profile
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/components.html">
              Help
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" 
               href="{{ data.product }}" data-original-title="Product Info">
              <i class="fa fa-rocket"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" 
               href="{{ data.github }}" data-original-title="Github Sources">
              <i class="fa fa-github"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
