
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/">
          Flask Material Kit
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">

          {% if current_user.is_authenticated %}  
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">apps</i> Pages
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="/" class="dropdown-item">
                <i class="material-icons">content_paste</i> All Components
              </a>
              <a href="/landing-page.html" class="dropdown-item">
                <i class="material-icons">layers</i> Landing Page
              </a>
              <a href="/profile-page.html" class="dropdown-item">
                <i class="material-icons">layers</i> User Profile
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">
              <i class="material-icons">power_settings_new</i> Logout
            </a>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" target="_blank"
               href="https://appseed.us/apps/flask-apps/flask-material-kit">
              <i class="material-icons">cloud_download</i> Download
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" 
               href="https://twitter.com/webappseed" target="_blank" data-original-title="Follow us on Twitter" rel="nofollow">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" 
               href="https://www.facebook.com/webappseed" target="_blank" data-original-title="Like us on Facebook" rel="nofollow">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
