
  <script src="/static/assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script src="/static/assets/js/core/popper.min.js" type="text/javascript"></script>
  <script src="/static/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script src="/static/assets/js/plugins/moment.min.js"></script>

  <script src="/static/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>

  <script src="/static/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>

  <script src="/static/assets/js/material-kit.js?v=2.0.5" type="text/javascript"></script>
